[Unit]
Description=Run Network Scanner Kismet ML Shadow Processing periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
Persistent=true
Unit=kismet-ml-shadow.service

[Install]
WantedBy=timers.target
